body{
	background-color: #F5F5F6;
	color:#4C2D2C;
	font-size: 28px;
	width: 100%;
}
.logo {
	color: #fff;
	left: 15%;
	top: 15%;
	position: absolute;
	text-shadow: 0.5px 1px #999;
}
.logo span {
	transition: all 0.2s ease-in-out;
	font-size:5vh;
}
.logo:hover span {
	color: #2F1B73;
	text-shadow: 0.25px 0.25px #fff;
	cursor: pointer;
}
.logo h1 {
	font-family: 'Play', sans-serif;
	font-size: 12vh;
}
.logo h3 {
	font-weight: 700;
	font-size: 5vh;
} 
.logo a {
	text-decoration: none;
	color: #222;
}
img {
	margin: 40px;
}
.error {
	color: red;
	font-size: 2.5vh;
}
.error:hover {
	opacity: 0.65;
}